extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/').back-link ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1.main-heading Josh Suson

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I love the internet and I love to build things on the internet. Sometimes knowing what to do on the internet is frustrating. There's a lot more to it than just coding the right website or making a passable graphic. You have to have vision and content. Design and development is really about telling great stories. They're being told through your content and the user's experience.   
            br
            | I love stories and I believe that I can help you effectively tell yours in an increasingly crowded digital world. I have a strong desire to help people effectively communicate their story or their brand's story any way that I can.
        
      .cell.portfolia-meta.small-6.medium-2.large-3.skills-column
        h6 Skills

        ul.skills-list
          li.skill.html HTML
          li.skill.css CSS
          li.skill.sass Sass
          li.skill.javascript Javascript
          li.skill.node Node.js 
          li.skill.photoshop Photoshop
          li.skill.illustrator Illustrator
          li.skill.premiere Premiere Pro
          li.skill.design Web Design
          li.skill.content Content Creation
        .contact-info
          h6 Contact Info

          ul
            li 580-736-4649
            li josh.suson@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/joshsuson/') LinkedIn
        a.button.expanded(href='https://github.com/joshsuson') GitHub
        a.button.expanded(href='https://www.twitter.com/joshsuson') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/').back-link ← Back
  